@model Tarea4.Models.MarcaModel

@{
    ViewData["Title"] = "Crear Marca";
}

<h1>Crear</h1>

<h4>Marca</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="NombreMarca" class="control-label"></label>
                <input asp-for="NombreMarca" class="form-control" />
                <span asp-validation-for="NombreMarca" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PaisOrigen" class="control-label"></label>
                <input asp-for="PaisOrigen" class="form-control" />
                <span asp-validation-for="PaisOrigen" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FechaRegistro" class="control-label"></label>
                <input asp-for="FechaRegistro" class="form-control" />
                <span asp-validation-for="FechaRegistro" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver al Listado</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
